 /* Bordered form */
 
 form {
     border: 3px solid #f1f1f1;
 }
 /* Full-width inputs */
 
 input[type=text],
 input[type=password] {
     width: 100%;
     padding: 12px 20px;
     margin: 8px 0;
     display: inline-block;
     border: 1px solid #ccc;
     box-sizing: border-box;
 }
 /* Set a style for all buttons */
 
 button {
     background-color: #4CAF50;
     color: white;
     padding: 14px 20px;
     margin: 8px 0;
     border: none;
     cursor: pointer;
     width: 100%;
 }
 /* Add a hover effect for buttons */
 
 button:hover {
     opacity: 0.8;
 }
 /* Extra style for the cancel button (red) */
 
 .cancelbtn {
     width: auto;
     padding: 10px 18px;
     background-color: #f44336;
 }
 /* Center the avatar image inside this container */
 
 .imgcontainer {
     text-align: center;
     margin: 24px 0 12px 0;
 }
 /* Avatar image */
 
 img.avatar {
     width: 20%;
     border-radius: 25%;
 }
 /* Add padding to containers */
 
 .container {
     padding: 16px;
 }
 /* The "Forgot password" text */
 
 span.psw {
     float: right;
     padding-top: 16px;
 }
 /* Change styles for span and cancel button on extra small screens */
 
 @media screen and (max-width: 300px) {
     span.psw {
         display: block;
         float: none;
     }
     .cancelbtn {
         width: 100%;
     }
 }
 
 * {
     box-sizing: border-box;
 }
 
 #myInput {
     background-image: url('/css/searchicon.png');
     background-position: 10px 10px;
     background-repeat: no-repeat;
     width: 100%;
     font-size: 16px;
     padding: 12px 20px 12px 40px;
     border: 1px solid #ddd;
     margin-bottom: 12px;
 }
 
 #myTable {
     border-collapse: collapse;
     width: 100%;
     border: 1px solid #ddd;
     font-size: 18px;
 }
 
 .alert {
     text-align: center;
 }
 
 #myTable th,
 #myTable td {
     text-align: left;
     padding: 12px;
 }
 
 #myTable tr {
     border-bottom: 1px solid #ddd;
 }
 
 #myTable tr.header,
 #myTable tr:hover {
     background-color: #f1f1f1;
 }
 
 .titulo {
     text-align: center;
 }
 
 .columnLeft {
     float: left;
     width: 50%;
 }
 
 .subcabecera {
     text-align: center;
 }
 /* Shrinking the sidebar from 250px to 80px and center aligining its content*/
 
 #sidebar.active {
     min-width: 80px;
     max-width: 80px;
     text-align: center;
 }
 /* Toggling the sidebar header content, hide the big heading [h3] and showing the small heading [strong] and vice versa*/
 
 #sidebar .sidebar-header strong {
     display: none;
 }
 
 #sidebar.active .sidebar-header h3 {
     display: none;
 }
 
 #sidebar.active .sidebar-header strong {
     display: block;
 }
 
 #sidebar ul li a {
     text-align: left;
 }
 
 #sidebar.active ul li a {
     padding: 20px 10px;
     text-align: center;
     font-size: 0.85em;
 }
 
 #sidebar.active ul li a i {
     margin-right: 0;
     display: block;
     font-size: 1.8em;
     margin-bottom: 5px;
 }
 /* Same dropdown links padding*/
 
 #sidebar.active ul ul a {
     padding: 10px !important;
 }
 /* Changing the arrow position to bottom center position, 
   translateX(50%) works with right: 50% 
   to accurately  center the arrow */
 
 #sidebar.active .dropdown-toggle::after {
     top: auto;
     bottom: 10px;
     right: 50%;
     -webkit-transform: translateX(50%);
     -ms-transform: translateX(50%);
     transform: translateX(50%);
 }
 
 @media (max-width: 768px) {
     /* 80px and its content aligned to centre. Pushing it off the screen with the
       negative left margin
    */
     #sidebar.active {
         min-width: 80px;
         max-width: 80px;
         text-align: center;
         margin-left: -80px !important;
     }
     /* Reappearing the sidebar on toggle button click */
     #sidebar {
         margin-left: 0;
     }
     /* Toggling the sidebar header content, 
       hide the big heading [h3] and showing the small heading [strong] and vice versa
    */
     #sidebar .sidebar-header strong {
         display: none;
     }
     #sidebar.active .sidebar-header h3 {
         display: none;
     }
     #sidebar.active .sidebar-header strong {
         display: block;
     }
     /* Downsize the navigation links font size */
     #sidebar.active ul li a {
         padding: 20px 10px;
         font-size: 0.85em;
     }
     #sidebar.active ul li a i {
         margin-right: 0;
         display: block;
         font-size: 1.8em;
         margin-bottom: 5px;
     }
     /* Adjust the dropdown links padding*/
     #sidebar.active ul ul a {
         padding: 10px !important;
     }
     /* Changing the arrow position to bottom center position, 
      translateX(50%) works with right: 50% 
      to accurately  center the arrow */
     .dropdown-toggle::after {
         top: auto;
         bottom: 10px;
         right: 50%;
         -webkit-transform: translateX(50%);
         -ms-transform: translateX(50%);
         transform: translateX(50%);
     }
 }
 
 .buttonColor {
     background: #0F3C72;
 }